.checkout_ship {
    font-family: $font-family-main;
    width: 780px;
    margin: 60px auto;
    gap: 20px;
    align-items: flex-start;

    @include mobile {
        width: 100%;
        margin: 30px auto 0 auto;
    }

    .ship_form {
        width: 460px;
        background-color: $colors-primary;
        color: $colors-secondary;

        .ship_process {
            padding: 30px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: $h2-font-size;
                font-weight: 600;
            }

            img {
                width: 186px;
                vertical-align: middle;
            }
        }

        .ship_info {
            padding: 0 40px 14px 40px;
            font-size: $h5-font-size;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            label {
                margin-bottom: 16px;

                h4 {
                    font-size: $h5-font-size;
                    margin-bottom: 8px;
                }

                input {
                    padding: 20px;
                    height: 56px;
                    background-color: $colors-secondary;
                    border: 0;

                    &::placeholder {
                        font-family: $font-family-main;
                        color: $colors-primary;
                        font-size: $h6-font-size;
                        filter: opacity(50%);
                    }
                }

                select {
                    width: 49%;
                    height: 56px;
                    padding: 0 20px;
                    background-color: $colors-secondary;
                    font-family: $font-family-main;
                    color: rgba(63, 93, 69, 0.5);
                    font-size: $h6-font-size;
                    border: 0;
                    appearance:none;
                    background: url(/img/sort-solid.svg) 90% / 6% no-repeat $colors-secondary;
                }
            }

            .ship_select {
                justify-content: space-between;
                margin-bottom: 8px;
            }
        }
    }

    .shipNext_btn {
        width: 100%;
        height: 65px;
        background-color: $colors-success;
        border: 0;
        font-size: $h4-font-size;
        font-family: $font-family-main;
        color: $colors-primary;
        font-weight: 600;
        cursor: pointer;
        margin-top: 20px;
    }
}

.d-w1 {
    width: 49%;
}

.d-w2 {
    width: 100%;
}

.order_side {
    width: 300px;

    @include mobile {
        display: none;
    }

    .shop_total {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

        .total_summary {
            color: rgba(63, 93, 69, 0.5);
            border: 1px solid $colors-secondary;

            h2 {
                font-size: $h4-font-size;
                padding: 16px 0;
                font-weight: 600;
                background-color: $colors-secondary;
            }

            ul {
                padding: 16px;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 8px;
                }

                .summary {
                    font-size: $h5-font-size;
                    font-weight: 600;
                    padding-top: 8px;
                }
            }
        }
    }
}

.ship_cart {
    font-family: $font-family-main;
    margin-top: 20px;
    width: 100%;
    border: 1px solid $colors-secondary;
    color: rgba(63, 93, 69, 0.5);

    .shop_h3 {
        font-size: $h4-font-size;
        background-color: $colors-secondary;
        text-align: center;
        padding: 16px 0;
        margin-bottom: 14px;
        font-weight: 600;
    }

    .shop_box {
        display: flex;
        align-items: center;
        padding: 0 20px 16px 20px;

        .shop_img {
            width: 120px;
            height: 80px;
            margin-right: 20px;

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        img {
            max-width: 100%;
            vertical-align: middle;
        }

        .shop_text {
            // display: flex;
            // justify-content: space-between;
            color: $colors-primary;

            p {
                display: flex;
                margin-bottom: 8px;
                filter: opacity(50%);
            }

            .shop_price {
                font-size: $h5-font-size;
                font-weight: bold;
                color: $colors-primary;
            }
        }
    }
}
