.wrap {
    width: 940px;
    margin: 0 auto;
    padding-top: 30px;
    font-family: $font-family-main;
    

    @include mobile {
        width: 100%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include mobile {
        padding: 0 30px;
    }

    .header_h1 a {
        background-image: url(../img/logo-all-dark.svg);
        width: 215px;
        height: 40px;
        @include hide-text;

        @include mobile {
            background-image: url(../img/logotype-sm-dark.svg);
            width: 115px;
            height: 18px;
        }
    }

    .header_d {
        display: flex;
        justify-content: center;

        .header_ul {
            display: flex;
            align-items: center;
            gap: 2.75rem;
            margin-right: 5rem;

            @include mobile {
                display: none;
            }

            li a {
                text-decoration: none;
                color: $colors-primary;
                font-weight: bold;
                padding: 8px;

                &:hover {
                    color: $colors-info;
                    border-bottom: 3px solid $colors-secondary;
                }

                img {
                    width: 24px;
                    margin-left: 1.25rem;
                }
            }

            .header_li a:hover {
                border-bottom: none;
            }
        }

        .header_a {
            text-decoration: none;
        }
    }
}

.menu_lable {
    display: none;
    
    @include mobile {
        display: block;
    }
    

    img {
        width: 20px;
        vertical-align: middle;
    }

    input[type="checkbox"] {
        display: none;
    }

    .menu_ul {
        display: none;
    }
}
#menu_burger:checked + .menu_ul {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    transition: .3s;
    z-index: 10;
    background-color: $colors-success;
    width: 100%;

    li + li {
        border-top: 1px solid $colors-primary;
    }

    li {
        padding: 20px;
        height: 56px;
        text-align: center;

        a {
            display: block;
            text-decoration: none;
            color: $colors-primary;
            font-size: $h5-font-size;
            font-weight: 600;
        }
    }
}

.footer {
    font-family: $font-family-main;
    margin-top: 60px;

    .subscription {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            display: block;
        }

        .subInfo {
            display: flex;
            align-items: center;

            @include mobile {
                margin-bottom: 30px;
            }

            img {
                width: 40px;
            }

            h2 {
                font-size: $h4-font-size;
                color: $colors-secondary;
                margin-left: 20px;
            }
        }

        form {
            display: flex;

            label img {
                width: 24px;
                height: 24px;
            }

            input {
                border: 1px solid $colors-secondary;
            }

            button {
                border: 1px solid $colors-success;
                background-color: $colors-success;
                padding: 0 24px;

                &:hover {
                    background: $colors-info;
                    border: 1px solid $colors-info;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .methodList {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        @include mobile {
            margin-bottom: 40px;
        }

        .methodInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .img-1 {
                width: 170px;

                @include mobile {
                    margin-bottom: 40px;
                }
            }

            p {
                line-height: 1.5;
                font-size: $h6-font-size;
                color: $colors-primary;
            }
        }

        .img-2 {
            width: 60px;
        }
    }

    .methodSocial {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include mobile {
            display: block;
        }

        .downImg {
            width: 32px;
            margin-right: 8px;

            &:hover {
                transform: scale(1.2);
            }

            @include mobile {
                margin-bottom: 25px;
            }
        }

        p {
            font-size: $h6-font-size;
            color: $colors-primary;
        }
    }
}

.ftWrap {
    width: 870px;
    margin: 0 auto;

    @include mobile {
        width: 100%;
        padding: 0 30px;
    }
}

.pd-3 {
    padding: 30px 0;
}

.pd-1 {
    padding: 16px 20px;
}

.d-flex {
    display: flex;
}

.d-flex-n-lg {
    @include mobile {
        display: none;
    }
}

.d-flex-n-sm {
    display: none;

    @include mobile {
        display: block;
    }
}



@import "main/home";
@import "main/product";
@import "main/login";
@import "main/cart";
@import "main/checkoutShip";
@import "main/checkoutPay";
@import "main/checkout_E_Invoice";
@import "main/checkout_post_Invoice";
@import "main/checkout_success";
