.invoice_info select {
    width: 49%;
    height: 56px;
    padding: 0 20px;
    background-color: $colors-secondary;
    font-family: $font-family-main;
    color: rgba(63, 93, 69, 0.5);
    font-size: $h6-font-size;
    border: 0;
    appearance:none;
    background: url(/img/sort-solid.svg) 90% / 6% no-repeat $colors-secondary;
}

.invoice_select {
    justify-content: space-between;
                margin-bottom: 8px;
}